<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h2>Design your taco!</h2>
<img th:src="@{/taco.png}"/>

<form method="post" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="wrap">
            <h3>wrap</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">Ingredient</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>proteins</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">default</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>cheeses</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">default</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>veggies</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">default</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>sauces</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">default</span><br/>
            </div>
        </div>
    </div>
    <label th:for="name">Name: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <button>Submit your taco</button>
</form>
</body>
</html>