<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div>
    <form method="POST" th:action="@{/order}" th:object="${order}">
        <h1>Confirm Taco order</h1>
        <img th:src="@{/taco.png}"/>

        <a th:href="@{/design}" id="another">Design another taco</a>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">Please correct the problems and resubmit</span>
        </div>

        <h3>Deliver to</h3>
        <label th:for="name">Name: </label>
        <input type="text" th:field="*{name}"/></br>

        <label th:for="street">Street address: </label>
        <input type="text" th:field="*{street}"/>
        <br/>
        <label th:for="city">City: </label>
        <input type="text" th:field="*{city}"/>
        <br/>
        <label th:for="state">State: </label>
        <input type="text" th:field="*{state}"/>
        <br/>
        <label th:for="zip">Zip code: </label>
        <input type="text" th:field="*{zip}"/>
        <br/>
        <h3>Here's how I'll pay...</h3>
        <label th:for="ccNumber">Credit Card #: </label>
        <input type="text" th:field="*{ccNumber}"/>
        <br/>
        <label th:for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{ccExpiration}"/>
        <br/>
        <label th:for="ccCVV">CVV: </label>
        <input type="text" th:field="*{ccCVV}"/>
        <br/>

        <input type="submit" value="Submit order"/>
    </form>
</div>
</body>
</html>