<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div>
    <form method="POST" th:action="@{/order}" th:object="${order}">
        <h1>Confirm Taco order</h1>
        <img th:src="@{/taco.png}"/>

        <a th:href="@{/design}" id="another">Design another taco</a>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">Please correct the problems and resubmit</span>
        </div>

        <h3>Deliver to</h3>
        <label th:for="name">Name: </label>
        <input type="text" th:field="*{deliveryName}"/></br>

        <label th:for="street">Street address: </label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <br/>
        <label th:for="city">City: </label>
        <input type="text" th:field="*{deliveryCity}"/>
        <br/>
        <label th:for="state">State: </label>
        <input type="text" th:field="*{deliveryState}"/>
        <br/>
        <label th:for="deliveryZip">Zip: </label>
        <input type="text" th:field="*{deliveryZip}"/>
        <br/>
        <label th:for="ccNumber">ccNumber: </label>
        <input type="text" th:field="*{ccNumber}"/>
        <br/>
        <label th:for="ccExpiration">ccExpiration: </label>
        <input type="text" th:field="*{ccExpiration}"/>
        <br/>
        <label th:for="ccCVV">ccCVV: </label>
        <input type="text" th:field="*{ccCVV}"/>
        <br/>
        <input type="submit" value="Submit order"/>
    </form>
</div>
</body>
</html>